body {
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	background-color: #050505;
	height: 37px;
}

header:before, header:after {
	content: "";
	display: table;
}

header:after {
	clear: both;
}

header a {
	color: #939393;
	font-family: "Arial";
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
	display: block;
	/*margin: 12px 8px;*/
	height: 37px;
	/*text-align: center;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	margin-left: 5px;
}

header a:hover {
	color: #f1f1f1;
}

.mini-logo {
	/*background-color: #fab81b; */
	background-image: url("/img/mini-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 37px;
	height: 37px;
	float: left;
}

.mini-logo a {
	height: 37px;
	width: 37px;
	margin: 0 0;
	background-color: rgba(5, 5, 5, 0.45);
}

.mini-logo a:hover {
	background-color: unset;
}

.games {
	/*background-color: #fab81b;*/
	width: 61px;
	height: 37px;
	float: left;
}

.services {
	/*background-color: #fab81b;*/
	width: 87px;
	height: 37px;
	float: left;
}

.premium-shop {
	/*background-color: #fab81b;*/
	width: 131px;
	height: 37px;
	float: left;
}

.premium-shop a {
	color: #9b7430;
}

.premium-shop a:hover {
	color: #ffbe4c;

}

.support {
	/*background-color: #fab81b;*/
	width: 130px;
	height: 37px;
	float: left;
}

header .right-header {
	font-weight: 400;
}

.sign-in {
	/*background-color: #fab81b;*/
	width: 36px;
	height: 37px;
	float: right;
}

.or {
	/*background-color: #fab81b;*/
	width: 26px;
	height: 37px;
	float: right;
}

header span {
	color: #4c4e4e;
	font-family: "Arial";
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	display: block;
	margin: 12px 4px;
}

.register {
	/*background-color: #fab81b;*/
	width: 103px;
	height: 37px;
	float: right;
}

.none-div {
	/*background-color: #fab81b;*/
	width: 10px;
	height: 37px;
	float: right;
}

.clear {
	clear: both;
}







nav {
	background-color: rgba(43, 41, 45, 0.92);
	height: 67px;
	width: 100%;
	border-top: groove;
	border-top-color: #939393;
	border-top-width: 1px;
}

.max-width {
	width: 100%;
	max-width: 1237px;
	margin: auto;
}

.nav-item/*, .nav-free-to-play*/ {
	height: 67px;
	padding: 0 22px;
	float: left;
	/*vertical-align: middle;*/
}

.nav-item a/*, .nav-free-to-play a*/ {
	height: 67px;
	display: block;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 700;
	color: #aaaaab;
	text-decoration: none;
}

.nav-free-to-play {
	padding: 0 22px;
	float: right;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-free-to-play a {
	display: block;
	height: 47px;
	text-transform: uppercase;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}




nav:before, nav:after {
	content: "";
	display: table;
}
nav:after {
	clear: both; /* подчеркивание блоков / завершение обтекания */
}










.test1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}