body {
	background-image: url(/img/sparkles.png);
	background-color: #1c1c1e;
	background-position: center;
}

.header-nav {
	background: url(/img/8-years-wot.jpg);
	height: 425px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 135px;
	width: 272px;
	padding-top: 25px;
}

header {
	background-color: #050505;
	height: 37px;
}

header:before, header:after {
	content: "";
	display: table;
}

header:after {
	clear: both;
}

header a {
	color: #939393;
	font-family: "Helvetica";
	font-size: 13px;
	font-weight: 590;
	text-decoration: none;
	display: block;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: -0.5px;
}

header img {
	margin-left: 5px;
}

header a:hover {
	color: #f1f1f1;
}

header a:hover .pointer-down-small {
	fill: #f1f1f1;
}

.mini-logo {
	/*background-color: #fab81b; */
	background-image: url("/img/mini-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 37px;
	height: 37px;
	float: left;
}

.mini-logo a {
	height: 37px;
	width: 37px;
	margin: 0 0;
	background-color: rgba(5, 5, 5, 0.45);
}

.mini-logo a:hover {
	background-color: unset;
}

.pointer-down-small {
	fill: #939393;
	margin-left: 5px;
	width: 7px;
	height: 4px; 
}

/*.games:hover .pointer-down-small {
	fill: #f1f1f1;
}*/

.games {
	width: 44px;
	height: 37px;
	float: left;
	padding: 0 8px 0 9px;
}

.services {
	/*background-color: #fab81b;*/
	width: 66px;
	height: 37px;
	float: left;
	padding: 0 8px 0 9px;
}

.premium-shop {
	/*background-color: #fab81b;*/
	width: 107px;
	height: 37px;
	float: left;
	padding: 0 8px 0 11px;
}

.premium-shop a {
	color: #9b7430;
}

.premium-shop a:hover {
	color: #ffbe4c;

}

.support {
	/*background-color: #fab81b;*/
	width: 106px;
	height: 37px;
	float: left;
	padding: 0 8px 0 16px;
}

header .right-header {
	font-weight: 400;
}

.sign-in {
	/*background-color: #fab81b;*/
	width: 36px;
	height: 37px;
	float: right;
	padding-right: 4px;
}

.or {
	width: 22px;
	height: 37px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 4px;
}

header span {
	color: #4c4e4e;
	font-family: "Helvetica";
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	display: block;
}

.register {
	/*background-color: #fab81b;*/
	width: 96px;
	height: 37px;
	float: right;
	padding-right: 10px;
}

header span, .or, .right-header {
	letter-spacing: 0px;
}





/*------------------------------------------------------------------------------------------------------*/






nav {
	background-color: rgba(43, 41, 45, 0.92);
	height: 65px;
	width: 100%;
	border-top: groove;
	border-top-color: #939393;
	border-top-width: 1px;
}

nav:before, nav:after {
	content: "";
	display: table;
}
nav:after {
	clear: both; /* подчеркивание блоков / завершение обтекания */
}

.max-width {
	height: 65px;
	width: 100%;
	max-width: 1237px;
	margin: auto;
}

.nav-item {
	height: 65px;
	float: left;
	padding: 0 22px 0 22px;
}

.nav-item-logo {
	height: 65px;
	float: left;
	padding: 0 22px 0 0;
}

.nav-item a/*, .nav-free-to-play a*/ {
	height: 65px;
	display: block;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #aaaaab;
	text-decoration: none;
	float: left;
	letter-spacing: -0.7px;
}

.nav-item-logo a/*, .nav-free-to-play a*/ {
	height: 65px;
	display: block;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #aaaaab;
	text-decoration: none;
	float: left;
	letter-spacing: -0.7px;
}

.nav-item:hover a {
	color: #fab81b;
}

.nav-item-logo:hover a {
	color: #fab81b;
}

.nav-logo {
	fill: #ced0ce;
}

.nav-item:hover .nav-logo {
	fill: #ffffff;
}

.nav-item-logo:hover .nav-logo {
	fill: #ffffff;
}


.pointer-down {
	/*background: url(/img/pointer-down-round-orange.svg);*/
	background: url(/img/pointer-down.svg);
	display: inline-block;
	height: 28px;
	width: 28px;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	margin: 17px 0 0 9px;
	position: relative;
}

.vertical-line {
	background-color: #aaaaab;
	height: 10px;
	width: 1px;
	position: absolute;
	margin-top: 10px;

}

.pointer-down:hover {
	background-color: #fab81b;
}

.pointer-down:hover .vertical-line {
	background: transparent;
}




.nav-free-to-play {
	padding: 0 22px;
	float: right;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-free-to-play a {
	display: block;
	height: 47px;
	text-transform: uppercase;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}




nav:before, nav:after {
	content: "";
	display: table;
}
nav:after {
	clear: both; /* подчеркивание блоков / завершение обтекания */
}










